In [1]:
print ("Hello")

Hello

In [2]:
print ("Hello \
Python")

Hello Python

In [3]:
print("""╔╗╔╗╔═╗╔╗─╔╗─╔═╗
║╚╝║║╦╝║║─║║─║║║
║╔╗║║╩╗║╚╗║╚╗║║║
╚╝╚╝╚═╝╚═╝╚═╝╚═╝ """)

╔╗╔╗╔═╗╔╗─╔╗─╔═╗
║╚╝║║╦╝║║─║║─║║║
║╔╗║║╩╗║╚╗║╚╗║║║
╚╝╚╝╚═╝╚═╝╚═╝╚═╝

In [4]:
print ("Hello World")

Hello World

In [5]:
print ('Hello World')

Hello World

In [6]:
print ("Python's code")

Python's code

In [7]:
print ("Hello \n Python")

Hello
 Python

In [8]:
print ('Python\'s world')

Python's world

In [9]:
print ("Hello \a Alarm")

Hello  Alarm

In [10]:
print ("Hello \t World")

Hello 	 World

In [12]:
name = "Pratik"
marks = 90.21
age = 30
print ("Name: ",name," Marks: ",marks," Age: ",age)

Name:  Pratik  Marks:  90.21  Age:  30

In [13]:
print ("Name: %s Marks: %f Age: %d" %(name,marks,age))

Name: Pratik Marks: 90.210000 Age: 30

In [14]:
print ("Name: %10s Marks: %10.2f Age: %10d" %(name,marks,age))

Name:     Pratik Marks:      90.21 Age:         30

In [15]:
print (f"Name: {name} Marks: {marks} Age: {age}")

Name: Pratik Marks: 90.21 Age: 30

In [16]:
x=20
id(x)

140727270679536

In [17]:
y=20
id(y)

140727270679536

In [18]:
del x

In [19]:
5 ** 5

3125

In [20]:
10+20

30

In [21]:
10-20

-10

In [22]:
10/2

5.0

In [23]:
10%3

1

In [24]:
10//3

3

In [25]:
10/3

3.3333333333333335

In [26]:
a = 10
b = 20
a == b

False

In [27]:
c = 10
a == c

True

In [28]:
c <= a

True

In [29]:
a >= b

False

In [30]:
a != b

True

In [31]:
d = 10
e = 30
f = d + e
print (f)

40

In [32]:
d = 10
f += d
print (f)

50

In [33]:
d = 10
f -= d
print (f)

40

In [34]:
d = 10
f *= d
print (f)

400

In [35]:
d = 10
f /= d
print (f)

40.0

In [36]:
d = 10
f **= d
print (f)

1.048576e+16

In [37]:
a = 240
b = 1
a | b

241

In [38]:
bin(a)

'0b11110000'

In [39]:
a & b

0

In [40]:
~ a

-241

In [41]:
a ^ b

241

In [42]:
a << 2

960

In [43]:
a >> 2

60

In [44]:
a = 1
b = 20
a > b

False

In [45]:
a > 20 and 10 > 9

False

In [46]:
a > 20 or 10 > 9

True

In [47]:
x = 5
print(not(x > 3 and x < 10))

False

In [48]:
10 > 9 and 20 > M

NameError: name 'M' is not defined

In [49]:
10 < 9 and 20 > M

False

In [50]:
str1 = "PythonPractice"
"a" in str1

True

In [51]:
str1 = "PythonPractice"
"x" not in str1

True

In [52]:
a = 10
b = 10
a == b

True

In [53]:
id (a)

140727270679216

In [54]:
id (b)

140727270679216

In [55]:
a is b

True

In [56]:
x = 1.5
y = 1.5
x == y

True

In [57]:
id (x)

1638408485936

In [58]:
id (y)

1638408485968

In [59]:
x is y

False

In [60]:
x is not y

True

In [61]:
10+10/29*4

11.379310344827587